<img src="https://www.th-koeln.de/img/logo.svg" style="float: right;" width="200">
<img src="https://www.femoz.de/assets/templates/femoz/images/logo-head-02.png" style="float: left;" width="200">
<p style="text-align:center;"><br><br>Project: FEMOZ<br>
Author of notebook: Florian Schmitt<br>
Date: 23.03.2022</p>

# load disaster events

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# read file
df = pd.read_excel(
    'C:/Users/flori/sciebo/femoz_iws/data_lake/IWS/DMP_file_examples/disasters_emdat_moz/20210805_disasters_emdat_moz.xlsx')

In [2]:
# drop last 3 columns
df = df.loc[:, 'Dis No':'Total Affected']

# drop duplicate rows
df.drop_duplicates(inplace=True)

# drop rows with Dis No = null
df.dropna(subset = ['Dis No'], inplace = True)

In [3]:

# create date column
# replace NaN values for month with 12 (December)
df['Start Month'].fillna(12, inplace = True)
df['End Month'].fillna(12, inplace = True)

# replace NaN values for day with last day of month
df.loc[(df['End Month'] == 1) & (df['End Day'].isnull()), 'End Day'] = 31
df.loc[(df['End Month'] == 2) & (df['End Day'].isnull()), 'End Day'] = 28
df.loc[(df['End Month'] == 3) & (df['End Day'].isnull()), 'End Day'] = 31
df.loc[(df['End Month'] == 4) & (df['End Day'].isnull()), 'End Day'] = 30
df.loc[(df['End Month'] == 5) & (df['End Day'].isnull()), 'End Day'] = 31
df.loc[(df['End Month'] == 6) & (df['End Day'].isnull()), 'End Day'] = 30
df.loc[(df['End Month'] == 7) & (df['End Day'].isnull()), 'End Day'] = 31
df.loc[(df['End Month'] == 8) & (df['End Day'].isnull()), 'End Day'] = 31
df.loc[(df['End Month'] == 9) & (df['End Day'].isnull()), 'End Day'] = 30
df.loc[(df['End Month'] == 10) & (df['End Day'].isnull()), 'End Day'] = 31
df.loc[(df['End Month'] == 11) & (df['End Day'].isnull()), 'End Day'] = 30
df.loc[(df['End Month'] == 12) & (df['End Day'].isnull()), 'End Day'] = 31
df.loc[(df['Start Month'] == 1) & (df['Start Day'].isnull()), 'Start Day'] = 31
df.loc[(df['Start Month'] == 2) & (df['Start Day'].isnull()), 'Start Day'] = 28
df.loc[(df['Start Month'] == 3) & (df['Start Day'].isnull()), 'Start Day'] = 31
df.loc[(df['Start Month'] == 4) & (df['Start Day'].isnull()), 'Start Day'] = 30
df.loc[(df['Start Month'] == 5) & (df['Start Day'].isnull()), 'Start Day'] = 31
df.loc[(df['Start Month'] == 6) & (df['Start Day'].isnull()), 'Start Day'] = 30
df.loc[(df['Start Month'] == 7) & (df['Start Day'].isnull()), 'Start Day'] = 31
df.loc[(df['Start Month'] == 8) & (df['Start Day'].isnull()), 'Start Day'] = 31
df.loc[(df['Start Month'] == 9) & (df['Start Day'].isnull()), 'Start Day'] = 30
df.loc[(df['Start Month'] == 10) & (df['Start Day'].isnull()), 'Start Day'] = 31
df.loc[(df['Start Month'] == 11) & (df['Start Day'].isnull()), 'Start Day'] = 30
df.loc[(df['Start Month'] == 12) & (df['Start Day'].isnull()), 'Start Day'] = 31

# edit data types for required columns
df['Start Year'] = df['Start Year'].astype(int)
df['Start Month'] = df['Start Month'].astype(int)
df['Start Day'] = df['Start Day'].astype(int)
df['End Year'] = df['End Year'].astype(int)
df['End Month'] = df['End Month'].astype(int)
df['End Day'] = df['End Day'].astype(int)

# calculate start and end date
df['start_date'] = pd.to_datetime(df['Start Year'].astype('str') + df['Start Month'].astype('str') + df['Start Day'].astype('str'), format='%Y%m%d', errors='ignore')
df['end_date'] = pd.to_datetime(df['End Year'].astype('str') + df['End Month'].astype('str') + df['End Day'].astype('str'), format='%Y%m%d', errors='ignore')

In [ ]:
# Store data in raw db
# Create a conncetion to the PostgreSQL database
conncection = create_engine('postgresql://fschmitt:jksHI93!)sewOl@139.6.160.28:5432/raw_data_db')

# Take the dataframe and write it to the specified table
df.to_sql('disaster_events', conncection)

# Store data in results db
# Create a conncetion to the PostgreSQL database
conncection = create_engine('postgresql://fschmitt:jksHI93!)sewOl@139.6.160.28:5432/results_db')

# Take the dataframe and write it to the specified table
df.to_sql('disaster_events', conncection)