# DHS loading from preprocessing
Loads all data according to the output of DHS_unify_columns.ipynb

In [1]:
import icecream as ic
from dhs_pca_functions import *

In [2]:
folder_path = "/mnt/datadisk/data/surveys/DHS_final_raw_data/"
work_dir = "/mnt/datadisk/data/Projects/water/pickles/"
input_dir = "/mnt/datadisk/data/Projects/water/inputs/"
min_version = 3
overwrite_pqt = False
parquet = False
use_dask = False
drop_threshold = False
drop_col_counter = False
cols_to_load_simultaneously = 10
dataset_type = 'HR'  #, 'BR', 'CR', 'HW', 'IR', 'KR', 'MR', 'PR', 'AR'] ??['AN', 'FC, 'FP', 'HW', 'PV', 'SC'] < 25 surveys
add_str = 'pd'
columns = []
verbose = False
available_since_v = 7
preprocessing_answers_file = f"{input_dir}summary_df_V3_{dataset_type}__unify_answers_reviewed2b.csv"
# out_f = f"{input_dir}DF_V3_{dataset_type}_after_replacing.pkl"
preprocessing_f = f"{input_dir}Preprocessing_df_V3_{dataset_type}.pkl"
unify_columns_f = f"{input_dir}summary_df_V3_{dataset_type}_unify_cols_reviewed.csv"
cut_perc = 10

In [3]:
# Load column names from all .sav files
file_paths = get_dhs_files(folder_path, dataset_type, min_version)
file_paths = sorted(file_paths)
ic(len(file_paths))

186

In [4]:
unify_cols_df = pd.read_csv(unify_columns_f, encoding='ISO-8859-1')
unify_cols_df

,similar_columns nr,column_name,column_name_normalized,overall indicator short,overall indicator,numeric values as keys decision,available_data [%],numeric [%],string [%],surveys with data in %,...,data_type,max,min,dubious_answers,unique_answers amount,unique_answers wo keys list,unique_answers wo keys dict,replace_d corrected_answers,replace_d corrected_answers w keys,cosine string similarity columns
0,2.00,result of salt test for iodine,result salt test iodine,NaN,NaN,NaN,37.660,0.0,37.66,30.00,...,numeric,NaN,NaN,"{3.0: [('3.0: no salt in household', 'no salt ...",6.0,"['iodine present', 'no iodine', 'no salt in', ...","{'iodine present': 'iodine present', 'no iodin...",NaN,NaN,NaN
1,2.00,result of salt test for iodine (ppm),result salt test iodine,False,False Cosine str similarity of answers (indica...,NaN,2.405,0.0,2.41,2.22,...,numeric,NaN,NaN,NaN,5.0,"['15 ppm above', '0 ppm no iodine', 'below 15 ...","{'15 ppm and above': '15 ppm above', '0 ppm (n...",NaN,NaN,100.000000
2,2.00,iodine test for salt,iodine test salt,TRUE,True? SC? Cosine str similarity of answers (in...,NaN,0.241,0.0,0.24,0.56,...,numeric,NaN,NaN,NaN,3.0,"['iodine salt', 'non iodized salt', 'no salt i...","{'iodine salt': 'iodine salt', 'non iodized sa...",NaN,NaN,91.685936
3,2.00,result of iodine salt test,result iodine salt test,TRUE,True? Cosine str similarity of answers (indica...,NaN,0.238,0.0,0.24,0.56,...,numeric,NaN,NaN,NaN,2.0,"['negative', 'positive']","{'negative': 'negative', 'positive': 'positive'}",NaN,NaN,95.215425
4,3.00,water usually treated by: strain through a cloth,strain through cloth,NaN,NaN,NaN,57.981,0.0,57.98,44.44,...,categorical,NaN,NaN,"{8.0: [(""8.0: don't know"", ""don't know""), ('8....",4.0,"['no', 'yes', ""don't know""]","{'no': 'no', 'yes': 'yes', ""don't know"": ""don'...","{'dk': ""don't know""}","{'8.0: dk': ""don't know""}",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,155.01,satisfied with availability of electricity,satisfied with availability electricity,NaN,False? Maybe!? Cosine str similarity of answer...,NaN,0.943,0.0,0.94,0.56,...,numeric,NaN,NaN,NaN,4.0,"['not satisfied', 'not really satisfied', 'sat...","{'not satisfied': 'not satisfied', 'not really...",NaN,NaN,80.880623
1132,155.01,satisfied with availability of drinking water,satisfied with availability drinking water,NaN,False? SC Cosine str similarity of answers (in...,NaN,0.943,0.0,0.94,0.56,...,numeric,NaN,NaN,NaN,4.0,"['not really satisfied', 'satisfied', 'not sat...",{'not really satisfied': 'not really satisfied...,NaN,NaN,87.657643
1133,155.01,treatment of drinking water,treatment drinking water,NaN,False? Maybe!? Cosine str similarity of answer...,NaN,0.942,0.0,0.94,0.56,...,numeric,NaN,NaN,NaN,6.0,"['nothing', 'adding chlorine eau javel', 'othe...","{'nothing': 'nothing', 'adding chlorine or ""ea...",NaN,NaN,82.509533
1134,155.01,satisfied with availability of transport,satisfied with availability transport,NaN,False? Maybe!? Cosine str similarity of answer...,NaN,0.942,0.0,0.94,0.56,...,numeric,NaN,NaN,NaN,4.0,"['not really satisfied', 'not satisfied', 'sat...",{'not really satisfied': 'not really satisfied...,NaN,NaN,79.110631
1135,155.01,malaria is caused by: drinking dirty water,drinking dirty water,NaN,True? DT ? Maybe!?? Cosine str similarity of a...,NaN,0.249,0.0,0.25,0.56,...,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN,82.012031

In [5]:
preprocessing_f_unify_answers = preprocessing_f[:-4] + '_unify_answers.pkl'
if not os.path.exists(preprocessing_f) or overwrite_pqt:
    df_actual_unified_answers, processed_cols = preprocessing_unified_columns(unify_cols_df, file_paths, dataset_type, folder_path, cut_perc)
    df_actual_unified_answers.to_csv(preprocessing_f_unify_answers[:-4] + '.csv', index=False)
    df_actual_unified_answers.to_pickle(preprocessing_f_unify_answers)
    
    # save processed columns to pkl
    with open(preprocessing_f_unify_answers[:-4] + 'processed_cols.pkl', 'wb') as f:
        pickle.dump(processed_cols, f)
else:
    df_actual_unified_answers = pd.read_pickle(preprocessing_f_unify_answers)
    # load processed columns from pkl
    with open(preprocessing_f_unify_answers[:-4] + 'processed_cols.pkl', 'rb') as f:
        processed_cols = pickle.load(f)
df_actual_unified_answers

,result of salt test for iodine,DHSID + HHID,water usually treated by: strain through a cloth,cluster altitude in meters,household sample weight (6 decimals),sample strata for sampling errors,water usually treated by: let it stand and settle,water usually treated by: don't know,number of eligible women in household,number of eligible men in hh,...,chair,has television,owns goats,has motorcycle/scooter,water usually treated by: use water filter,owns horses/ donkeys/ mules,time to get to water source (minutes),owns cows/ bulls,"owns livestock, herds or farm animals",owns chickens/poultry
0,NaN,AOHR51SV0000000100000001,NaN,NaN,505097.0,1.0,NaN,NaN,1.0,NaN,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AOHR51SV0000000100000002,NaN,NaN,505097.0,1.0,NaN,NaN,1.0,NaN,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,AOHR51SV0000000100000003,NaN,NaN,505097.0,1.0,NaN,NaN,0.0,NaN,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AOHR51SV0000000100000004,NaN,NaN,505097.0,1.0,NaN,NaN,3.0,NaN,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,AOHR51SV0000000100000005,NaN,NaN,505097.0,1.0,NaN,NaN,1.0,NaN,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853038,iodine present,ZWHR72SV0000040000000025,no,1413.0,1437077.0,rural : mashonaland east,no,no,2.0,NaN,...,NaN,no,7.0,no,no,0,on premises,NaN,yes,31.0
1853039,iodine present,ZWHR72SV0000040000000026,no,1413.0,1437077.0,rural : mashonaland east,no,no,0.0,NaN,...,NaN,no,0,no,no,0,on premises,NaN,yes,10.0
1853040,iodine present,ZWHR72SV0000040000000027,no,1413.0,1437077.0,rural : mashonaland east,no,no,1.0,NaN,...,NaN,no,3.0,no,no,0,10.0,NaN,yes,0
1853041,iodine present,ZWHR72SV0000040000000028,no,1413.0,1437077.0,rural : mashonaland east,no,no,1.0,NaN,...,NaN,no,8.0,no,no,0,on premises,NaN,yes,5.0
1853042,iodine present,ZWHR72SV0000040000000029,no,1413.0,1437077.0,rural : mashonaland east,no,no,2.0,NaN,...,NaN,no,0,no,no,0,10.0,NaN,yes,7.0

In [6]:
preprocessing_answers_df = pd.read_csv(preprocessing_answers_file, encoding='ISO-8859-1')
preprocessing_answers_df

,column_name,column_name_normalized,numeric values as keys decision,available_data [%],numeric [%],string [%],surveys with data in %,surveys with data percentage data available,available_data V7+ [%],replace_d to use,...,unique numbers amount,data_type,max,min,dubious_answers,unique_answers amount,unique_answers wo keys list,unique_answers wo keys dict,replace_d corrected_answers,replace_d corrected_answers w keys
0,number of de facto members,number facto,NaN,100.000,100.00,0.00,100.00,100.00,100.0,NaN,...,82,numeric,98.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,date of interview (cmc),date interview,NaN,100.000,100.00,0.00,100.00,100.00,100.0,NaN,...,341,numeric,1475.0,1110.0,NaN,NaN,NaN,NaN,NaN,NaN
2,primary sampling unit,primary sampling unit,NaN,100.000,100.00,0.00,100.00,100.00,100.0,NaN,...,2646,numeric,9186.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,subversion_nr,subversion nr,NaN,100.000,73.52,26.48,100.00,100.00,100.0,NaN,...,6,mixed,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,subversion_nr,ever married sample,NaN,100.000,0.00,100.00,100.00,100.00,100.0,NaN,...,0,numeric,NaN,NaN,"{0.0: [('0.0: all woman sample', 'all woman sa...",3.0,"['all woman sample', 'ever married sample', 'a...","{'all woman sample': 'all woman sample', 'ever...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,child : produced or sold any products or agric...,child produced sold any products agricultural ...,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1336,"child engaged in any activity, paid in cash or...",child engaged in any activity paid cash kind l...,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1337,child : helped with household business or othe...,child helped with business other enterprise,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1338,child : worked on home farm or with animals,child worked home farm with animals,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1339,exclusive toilet,exclusive toilet,NaN,0.205,0.00,0.20,0.56,40.91,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['yes exclusive', 'no shared']","{'yes, exclusive': 'yes exclusive', 'no, share...",NaN,NaN

In [7]:
# remove already processed columns
preprocessing_answers_df_loading = preprocessing_answers_df[~preprocessing_answers_df['column_name'].isin(processed_cols)]
preprocessing_answers_df

,column_name,column_name_normalized,numeric values as keys decision,available_data [%],numeric [%],string [%],surveys with data in %,surveys with data percentage data available,available_data V7+ [%],replace_d to use,...,unique numbers amount,data_type,max,min,dubious_answers,unique_answers amount,unique_answers wo keys list,unique_answers wo keys dict,replace_d corrected_answers,replace_d corrected_answers w keys
0,number of de facto members,number facto,NaN,100.000,100.00,0.00,100.00,100.00,100.0,NaN,...,82,numeric,98.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,date of interview (cmc),date interview,NaN,100.000,100.00,0.00,100.00,100.00,100.0,NaN,...,341,numeric,1475.0,1110.0,NaN,NaN,NaN,NaN,NaN,NaN
2,primary sampling unit,primary sampling unit,NaN,100.000,100.00,0.00,100.00,100.00,100.0,NaN,...,2646,numeric,9186.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,subversion_nr,subversion nr,NaN,100.000,73.52,26.48,100.00,100.00,100.0,NaN,...,6,mixed,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,subversion_nr,ever married sample,NaN,100.000,0.00,100.00,100.00,100.00,100.0,NaN,...,0,numeric,NaN,NaN,"{0.0: [('0.0: all woman sample', 'all woman sa...",3.0,"['all woman sample', 'ever married sample', 'a...","{'all woman sample': 'all woman sample', 'ever...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,child : produced or sold any products or agric...,child produced sold any products agricultural ...,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1336,"child engaged in any activity, paid in cash or...",child engaged in any activity paid cash kind l...,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1337,child : helped with household business or othe...,child helped with business other enterprise,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1338,child : worked on home farm or with animals,child worked home farm with animals,NaN,0.206,0.00,0.21,0.56,84.75,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['no', 'yes']","{'no': 'no', 'yes': 'yes'}",NaN,NaN
1339,exclusive toilet,exclusive toilet,NaN,0.205,0.00,0.20,0.56,40.91,0.0,NaN,...,0,numeric,NaN,NaN,NaN,2.0,"['yes exclusive', 'no shared']","{'yes, exclusive': 'yes exclusive', 'no, share...",NaN,NaN

In [8]:
if not os.path.exists(preprocessing_f) or overwrite_pqt:
    preprocessing_answers_df_loading = preprocessing_answers_df_loading[(preprocessing_answers_df_loading["available_data [%]"] >= cut_perc) | 
                                                                (preprocessing_answers_df_loading["available_data V7+ [%]"] >= cut_perc)]
    df = preprocessing_loading_wrapper_wrapper(file_paths, dataset_type, folder_path, cols_to_load_simultaneously, preprocessing_answers_df_loading)
    df.to_csv(preprocessing_f[:-4] + '.csv', index=False)
    df.to_pickle(preprocessing_f)
else:
    df = pd.read_pickle(preprocessing_f)
df

,country code and phase,GEID,DHSID,DHSID + HHID,version_nr,subversion_nr,generated hhnr from case id,generated clnr from case id,cluster number,household number,...,has generator,fan,has fan,sample domain,selection for male/husb. int.,sample weight for male subsamp,number of eligible children for height & weight,selection for hemoglobin,ultimate area selection prob.,selection for domestic violence module
0,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000001,5,1,NaN,NaN,1,1,...,NaN,NaN,NaN,"stable mesoendemic (zaire, luanda, bengo, beng...",not selected,0.0,0.0,selected,NaN,NaN
1,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000002,5,1,NaN,NaN,1,2,...,NaN,NaN,NaN,"stable mesoendemic (zaire, luanda, bengo, beng...",not selected,0.0,0.0,selected,NaN,NaN
2,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000003,5,1,NaN,NaN,1,3,...,NaN,NaN,NaN,"stable mesoendemic (zaire, luanda, bengo, beng...",not selected,0.0,0.0,selected,NaN,NaN
3,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000004,5,1,NaN,NaN,1,4,...,NaN,NaN,NaN,"stable mesoendemic (zaire, luanda, bengo, beng...",not selected,0.0,0.0,selected,NaN,NaN
4,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000005,5,1,NaN,NaN,1,5,...,NaN,NaN,NaN,"stable mesoendemic (zaire, luanda, bengo, beng...",not selected,0.0,1.0,selected,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853038,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000025,7,2,NaN,NaN,400,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1853039,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000026,7,2,NaN,NaN,400,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1853040,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000027,7,2,NaN,NaN,400,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1853041,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000028,7,2,NaN,NaN,400,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1853042,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000029,7,2,NaN,NaN,400,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# merge with already processed columns
df = df.merge(df_actual_unified_answers, on='DHSID + HHID', how='outer')
df

,country code and phase,GEID,DHSID,DHSID + HHID,version_nr,subversion_nr,generated hhnr from case id,generated clnr from case id,cluster number,household number,...,chair,has television,owns goats,has motorcycle/scooter,water usually treated by: use water filter,owns horses/ donkeys/ mules,time to get to water source (minutes),owns cows/ bulls,"owns livestock, herds or farm animals",owns chickens/poultry
0,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000001,5,1,NaN,NaN,1,1,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
1,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000002,5,1,NaN,NaN,1,2,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
2,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000003,5,1,NaN,NaN,1,3,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
3,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000004,5,1,NaN,NaN,1,4,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
4,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000005,5,1,NaN,NaN,1,5,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853038,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000025,7,2,NaN,NaN,400,25,...,NaN,no,7.0,no,no,0,on premises,NaN,yes,31.0
1853039,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000026,7,2,NaN,NaN,400,26,...,NaN,no,0,no,no,0,on premises,NaN,yes,10.0
1853040,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000027,7,2,NaN,NaN,400,27,...,NaN,no,3.0,no,no,0,10.0,NaN,yes,0
1853041,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000028,7,2,NaN,NaN,400,28,...,NaN,no,8.0,no,no,0,on premises,NaN,yes,5.0
1853042,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000029,7,2,NaN,NaN,400,29,...,NaN,no,0,no,no,0,10.0,NaN,yes,7.0

In [10]:
list(df.columns)
# pca_water_infrastructure = ['source of drinking water',  'anything done to water to make safe to drink', 
# 'water usually treated by: boil', 'water usually treated by: add bleach/chlorine', 'water usually treated by: use water filter',
#  'water usually treated by: strain through a cloth',  'time to get to water source (minutes)',  'water usually treated by: let it stand and settle',
#  'location of source for water',  'water usually treated by: solar disinfection', 
#   'source of non-drinking water', 'water not available for at least a day last two weeks',
#    'person fetching water',]
# pca_sanitation = ['type of toilet facility',  'share toilet with other households',  
#   'place where household members wash their hands', 'presence of water at hand washing place', 
#   'items present: soap or detergent', 'items present: ash, mud, sand', 'items present: none',
#   'number of households sharing toilet', 'location of toilet facility',]
# pca_transportation = ['has motorcycle/scooter', 'has car/truck', 'has bicycle',  
#   'has animal-drawn cart',  'has boat with a motor', 'has a boat with a motor', 'has motorcycle',]
# pca_communication = ['has mobile telephone', 'has radio', 'has television', 'has computer/laptop/tablet',
#   'has internet access',  'has telephone (land-line)',  'has a computer',  'has a mobile telephone',
#    'computer',]
# pca_health = [ 'has mosquito bed net for sleeping',  'number of mosquito bed nets', 'number of mosquito bed nets with specific information',  'dwelling sprayed by: government worker/program',
#  'has dwelling been sprayed against mosquitoes in last 12 months', 'dwelling sprayed by: private company', 
#   'dwelling sprayed by: ngo', 'dwelling sprayed by: other', "dwelling sprayed by: don't know", ]
# pca_energy_access = ['solar panel', 'has electricity', 'generator', 'has generator',]
# pca_food = [ 'has refrigerator',  'type of cooking fuel',  
#   'food cooked in the house/ separate building/ outdoors',  'result of salt test for iodine',
#    'household has separate room used as kitchen',  'freezer', 'type of cookstove',]
# pca_residence = [ 'type of place of residence',  'number of rooms used for sleeping', 
#   'rooms used for sleeping', 'has bed', 'household has a chimney, hood or neither', 'fan', 'has fan',
#    'locality']]
# pca_agriculture = [ 'owns livestock, herds or farm animals', 'owns goats', 'owns sheep',  'owns land usable for agriculture',  'owns cows/ bulls', 'owns horses/ donkeys/ mules',
#  'hectares of agricultural land (1 decimal)', 'owns chickens/poultry',  'owns rabbits',
#    'sewing machine',  'hectares for agricultural land', 'tractor',]
# pca_food_security = [ 'number of eligible children for height and weight',
# pca_financial = [ 'has bank account',]
# pca_further_assets = ['has watch',  'has a watch',  'has table',]
# pca_asset_wealth = does it make sense? Better look on availability of data?
# ['source of drinking water',  'time to get to water source (minutes)', 'location of source for water',  
#                   'type of toilet facility',  'share toilet with other households',  
                #   'place where household members wash their hands', 'presence of water at hand washing place', 
                #   'items present: soap or detergent', 'items present: ash, mud, sand', 'items present: none',
                #   'number of households sharing toilet', 'location of toilet facility',
                # 'has motorcycle/scooter', 'has car/truck', 'has bicycle',  
                #   'has animal-drawn cart',  'has boat with a motor', 'has a boat with a motor', 'has motorcycle',]

# pca_uber_alles 
cols_to_drop = [ 'date of interview (cmc)', 'result of household interview',  'primary sampling unit',
 'ultimate area unit', 'number of visits',  'interviewer identification',  'field supervisor', 'stratification used in sample design',
 'line number of head of household', 'time interview started (hhmm - 24 hour clock)',
 'time interview ended (hhmm - 24 hour clock)', 'length of interview in minutes', 'number of visits for biomarker', 'date of biomarker (cmc)',
 'date of biomarker century day code (cdc)', 'team number', 'keyer identification', 'field editor',
 'office editor',
 'source of non-drinking water', 'sample domain',
 'selection for male/husb. int.',
 'sample weight for male subsamp', 'selection for hemoglobin',
 'ultimate area selection prob.',
 'selection for domestic violence module', 'household sample weight (6 decimals)',
 'sample strata for sampling errors', "respondent's line number",  
 'wealth index',
 'wealth index factor score (5 decimals)',
 'wealth index factor score for urban/rural (5 decimals)',
 'wealth index for urban/rural',
 'wealth index combined',
 'day of biomarker visit',
 'year of biomarker visit',
 'month of biomarker visit',
 "dwelling sprayed by: don't know", #sub 1 percent relevant data (yes, don't know)
 "water usually treated by: don't know", #sub 1 percent relevant data (yes, don't know)
 'number of mosquito bed nets with specific information', # no visible difference to without information
 'number of de jure members', # no visible difference to number of hh members
 'number of de facto members', # no visible difference to number of hh members
]
doubles = ['generator', 'has generator', 'fan', 'has fan']

In [11]:
# df[(df['generator'].notna()) [['generator', 'has generator']]

In [12]:
# drop cols
df = df.drop(columns=cols_to_drop)

In [13]:
overwrite_pqt = True
preprocessing_f = preprocessing_f[:-4] + '_unified.pkl'
if not os.path.exists(preprocessing_f) or overwrite_pqt:
    df = unify_answers_after_preprocessing(df, preprocessing_answers_df)
    df.to_csv(preprocessing_f[:-4] + '.csv', index=False)
    df.to_pickle(preprocessing_f)
else:
    df = pd.read_pickle(preprocessing_f)
df

,country code and phase,GEID,DHSID,DHSID + HHID,version_nr,subversion_nr,generated hhnr from case id,generated clnr from case id,cluster number,household number,...,chair,has television,owns goats,has motorcycle/scooter,water usually treated by: use water filter,owns horses/ donkeys/ mules,time to get to water source (minutes),owns cows/ bulls,"owns livestock, herds or farm animals",owns chickens/poultry
0,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000001,5,1,NaN,NaN,1,1,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
1,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000002,5,1,NaN,NaN,1,2,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
2,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000003,5,1,NaN,NaN,1,3,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
3,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000004,5,1,NaN,NaN,1,4,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
4,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000005,5,1,NaN,NaN,1,5,...,NaN,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853038,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000025,7,2,NaN,NaN,400,25,...,NaN,no,7.0,no,no,0,0.0,NaN,yes,31.0
1853039,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000026,7,2,NaN,NaN,400,26,...,NaN,no,0,no,no,0,0.0,NaN,yes,10.0
1853040,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000027,7,2,NaN,NaN,400,27,...,NaN,no,3.0,no,no,0,10.0,NaN,yes,0
1853041,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000028,7,2,NaN,NaN,400,28,...,NaN,no,8.0,no,no,0,0.0,NaN,yes,5.0
1853042,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000029,7,2,NaN,NaN,400,29,...,NaN,no,0,no,no,0,10.0,NaN,yes,7.0

In [14]:
for col in df.columns:
    # print(col)
    print(df[col].value_counts(dropna=False, normalize=True) * 100)

country code and phase
NG6    2.814937
EG4    2.645271
KE6    2.315704
NG7    2.181655
KE8    2.045878
         ...
BJ3    0.242790
KM6    0.241872
CI5    0.235720
ST5    0.190821
KM3    0.121530
Name: proportion, Length: 140, dtype: float64
GEID
NaN                 11.954661
EGGE32FL00670122     0.006368
EGGE42FL00850329     0.006206
EGGE61FL08400151     0.005828
EGGE42FL00550211     0.004749
                      ...
ZAGE71FL00000597     0.000054
EGGE61FL01234204     0.000054
ZAGE71FL00000529     0.000054
EGGE4BFL00550702     0.000054
EGGE61FL01182601     0.000054
Name: proportion, Length: 68408, dtype: float64
DHSID
EGHR33SV00670122    0.006368
EGHR42SV00850329    0.006206
STHR51SV00000028    0.006044
STHR51SV00000082    0.005990
EGHR61SV08400151    0.005828
                      ...
ZAHR71SV00000597    0.000054
EGHR61SV01234204    0.000054
EGHR4ASV00962401    0.000054
ZAHR71SV00000133    0.000054
EGHR4ASV00881901    0.000054
Name: proportion, Length: 79155, dtype: float64
DHSID + HHID
AOHR51SV0000000100000001    0.000054
NGHR7BSV0000075600000023    0.000054
NGHR7BSV0000075700000033    0.000054
NGHR7BSV0000075700000031    0.000054
NGHR7BSV0000075700000027    0.000054
                              ...
KEHR33SV0000047200000033    0.000054
KEHR33SV0000047200000018    0.000054
KEHR33SV0000047200000004    0.000054
KEHR33SV0000047100000036    0.000054
ZWHR72SV0000040000000029    0.000054
Name: proportion, Length: 1853043, dtype: float64
version_nr
6    28.852595
7    23.909645
5    17.194744
4    15.205368
3     8.365321
8     5.471595
2     1.000732
Name: proportion, dtype: float64
subversion_nr
1    51.829126
A    15.332942
2    13.358298
B     7.249913
3     6.765035
I     2.236160
E     0.737382
0     0.685305
4     0.564585
Z     0.452229
5     0.320284
H     0.243437
D     0.225305
Name: proportion, dtype: float64
generated hhnr from case id
NaN     95.456123
True     4.543877
Name: proportion, dtype: float64
generated clnr from case id
NaN     99.34648
True     0.65352
Name: proportion, dtype: float64
cluster number
107        0.228381
60         0.227302
101        0.225737
63         0.225359
103        0.225143
             ...
1234204    0.000054
550702     0.000054
1051401    0.000054
1182601    0.000054
<NA>            0.0
Name: proportion, Length: 8477, dtype: Float64
household number
1        2.085273
3        2.038539
5        2.019921
7        2.018356
9        2.002112
           ...
51562    0.000054
51451    0.000054
50642    0.000054
37012    0.000054
<NA>          0.0
Name: proportion, Length: 15766, dtype: Float64
number of household members
4.0     14.812069
5.0     13.987047
3.0     13.414260
6.0     11.461634
2.0     10.553398
          ...
75.0     0.000054
72.0     0.000054
98.0     0.000054
83.0     0.000054
68.0     0.000054
Name: proportion, Length: 83, dtype: float64
month of interview
11.0    10.621016
10.0     9.861131
12.0     8.782257
9.0      7.949303
1.0      7.795178
5.0      7.705596
3.0      7.142468
6.0      7.110790
4.0      6.577937
2.0      6.154201
8.0      5.904018
7.0      5.674990
4.0      1.617610
5.0      1.502502
3.0      1.299484
7.0      0.705272
2.0      0.684442
6.0      0.642996
8.0      0.606030
10.0     0.459191
9.0      0.395835
NaN      0.386877
1.0      0.258116
11.0     0.121854
12       0.040798
12.0     0.000108
Name: proportion, dtype: float64
year of interview
2014.0    6.798709
2013.0    6.672808
2011.0    6.171255
2018.0    5.840339
2016.0    5.603162
2008.0    5.424051
2015.0    4.890334
2021.0    4.769884
2005.0    4.526446
2012.0    4.486242
2010.0    4.354729
2003.0    3.548919
2000.0    3.519508
2006.0    3.270512
2022.0    3.218868
2004.0    2.963342
2019.0    2.851472
2009.0    2.823356
2017.0    2.507713
1998.0    2.418940
2020.0    2.086298
2007.0    1.998389
1996.0    1.585824
1995.0    1.493381
1997.0    1.467802
2001.0    1.273797
1999.0    1.184862
1994.0    0.827881
1993.0    0.731068
NaN       0.386877
2002.0    0.303231
Name: proportion, dtype: float64
day of interview
16.0    3.498624
18.0    3.485024
9.0     3.465057
13.0    3.456693
10.0    3.406505
20.0    3.389182
15.0    3.388966
19.0    3.386268
17.0    3.385890
12.0    3.378065
14.0    3.376878
23.0    3.341099
8.0     3.312281
28.0    3.286000
22.0    3.273858
11.0    3.255132
24.0    3.239536
21.0    3.229984
26.0    3.228204
25.0    3.215306
7.0     3.209963
4.0     3.200465
6.0     3.186920
27.0    3.173861
5.0     3.171270
2.0     3.093614
3.0     3.089297
1.0     3.006730
29.0    2.982338
30.0    2.868363
31.0    1.631748
NaN     0.386877
Name: proportion, dtype: float64
type of place of residence
rural    65.117431
urban    34.882569
Name: proportion, dtype: float64
case identification
NaN             0.544456
       16111    0.002482
       10213    0.002428
       10111    0.002428
       12115    0.002428
                  ...
    00880165    0.000054
    00880172    0.000054
    00880185    0.000054
    00880191    0.000054
      325 28    0.000054
Name: proportion, Length: 810334, dtype: float64
source of drinking water
public tap/standpipe                                    14.657350
tube well or borehole                                   14.249103
unprotected well                                        13.624185
piped into dwelling                                     11.699621
river/dam/lake/ponds/stream/canal/irrigation channel    11.263581
protected well                                           8.785387
piped to yard/plot                                       8.305744
unprotected spring                                       5.730952
protected spring                                         3.716805
piped to neighbor                                        2.272047
sachet water                                             1.493597
rainwater                                                1.196356
well in residence                                        1.164139
water seller                                             1.112171
other                                                    0.575378
NaN                                                      0.153585
Name: proportion, dtype: float64
has electricity
no     64.299749
yes    34.581065
NaN     1.119186
Name: proportion, dtype: float64
has radio
yes    55.545662
no     42.773589
NaN     1.680749
Name: proportion, dtype: float64
has bicycle
no     76.105465
yes    23.694863
NaN     0.199672
Name: proportion, dtype: float64
has car/truck
no     85.676641
NaN     9.562271
yes     4.761088
Name: proportion, dtype: float64
owns sheep
0       49.545154
NaN     42.397127
2.0      1.552797
1.0      1.210657
3.0      0.990749
          ...
74.0     0.000108
71.0     0.000108
87.0     0.000108
86.0     0.000108
92.0     0.000108
Name: proportion, Length: 96, dtype: float64
region
NaN                                3.525498
central                            2.471394
eastern                            1.947445
southern                           1.841673
north central                      1.835845
                                     ...
center east                        0.008365
tibesti                            0.008095
moheli                             0.007501
siginda                            0.005397
laayoune-boujdou-sakia al hamra    0.002590
Name: proportion, Length: 640, dtype: float64
type of toilet facility
no facility/bush/field                   25.875816
pit latrine with slab                    16.912991
pit latrine without slab/open pit        16.506633
traditional pit toilet                   15.325063
ventilated improved pit latrine (vip)     7.302313
flush to septic tank                      5.402951
flush to piped sewer system               3.822685
modern flush toilet                       3.577413
traditional bucket flush                  2.847802
flush to pit latrine                      1.679993
other flush                               0.562480
NaN                                       0.183860
Name: proportion, dtype: float64
has refrigerator
no     82.062154
yes    15.533692
NaN     2.404154
Name: proportion, dtype: float64
number of eligible children for height and weight
NaN     43.598664
0.0     34.004068
1.0     12.717406
2.0      7.111762
3.0      1.716960
4.0      0.517473
5.0      0.187152
6.0      0.074202
7.0      0.033081
8.0      0.017539
9.0      0.009012
10.0     0.005181
11.0     0.002105
13.0     0.001565
12.0     0.001511
14.0     0.000863
16.0     0.000432
15.0     0.000216
17.0     0.000216
19.0     0.000162
22.0     0.000108
20.0     0.000108
18.0     0.000108
24.0     0.000054
21.0     0.000054
Name: proportion, dtype: float64
translator used
NaN           55.824285
no            37.592220
not at all     3.830348
yes            2.753147
Name: proportion, dtype: float64
has telephone (land-line)
no     55.409723
NaN    43.246919
yes     1.343358
Name: proportion, dtype: float64
has bank account
NaN    42.659884
no     42.166965
yes    15.173150
Name: proportion, dtype: float64
total adults measured
0.0     32.005517
NaN     25.158186
1.0     22.163166
2.0     12.497929
3.0      4.581599
4.0      1.998227
5.0      0.857562
6.0      0.373818
7.0      0.170314
8.0      0.085535
9.0      0.041068
10.0     0.024500
11.0     0.014355
12.0     0.008149
13.0     0.006260
14.0     0.004209
15.0     0.002590
16.0     0.001997
17.0     0.001511
18.0     0.000971
20.0     0.000756
19.0     0.000540
23.0     0.000486
22.0     0.000216
21.0     0.000162
26.0     0.000108
34.0     0.000054
30.0     0.000054
36.0     0.000054
39.0     0.000054
28.0     0.000054
Name: proportion, dtype: float64
language of questionnaire
NaN          59.203645
english       7.960905
french        6.766438
chichewa      3.133441
kiswahili     2.033628
               ...
zerma         0.012574
other         0.007285
nzema         0.002536
poular        0.000162
soninke       0.000054
Name: proportion, Length: 78, dtype: float64
share toilet with other households
no     40.456859
NaN    33.763814
yes    25.779326
Name: proportion, dtype: float64
location of source for water
NaN                 50.012979
elsewhere           44.329948
in own yard/plot     4.221435
in own dwelling      1.435639
Name: proportion, dtype: float64
anything done to water to make safe to drink
no     46.319540
NaN    41.244645
yes    12.435815
Name: proportion, dtype: float64
water usually treated by: boil
no     53.289049
NaN    41.247613
yes     5.463338
Name: proportion, dtype: float64
water usually treated by: add bleach/chlorine
no     54.469540
NaN    41.247613
yes     4.282847
Name: proportion, dtype: float64
number of mosquito bed nets
NaN     46.636532
0.0     16.541116
1.0     12.254384
2.0     11.686129
3.0      7.344190
4.0      2.725571
5.0      1.214111
6.0      0.731553
7.0      0.605706
8.0      0.076037
10.0     0.043388
9.0      0.038909
12.0     0.022234
11.0     0.017863
15.0     0.015002
7.0      0.012682
13.0     0.009822
14.0     0.009066
16.0     0.005235
20.0     0.002321
25.0     0.001727
18.0     0.001619
17.0     0.001511
19.0     0.001349
24.0     0.000702
22.0     0.000594
21.0     0.000324
23.0     0.000324
Name: proportion, dtype: float64
native language of respondent
NaN              65.256230
other             5.356271
chichewa          2.703877
malagasy          1.714369
hausa             1.484909
                   ...
ginirgna          0.000216
maogna            0.000108
gourmantchema     0.000108
krim              0.000054
kikongo           0.000054
Name: proportion, Length: 228, dtype: float64
household selected for domestic violence module
NaN                             61.445525
household selected              25.397252
household not selected          12.493612
woman selected                   0.210357
household selected: dv women     0.188177
household selected: dv men       0.161032
man selected                     0.104045
Name: proportion, dtype: float64
place where household members wash their hands
NaN                              58.373497
not observed: not in dwelling    13.583279
observed, mobile place           10.740226
observed                          7.310138
not observed other                5.556590
observed, fixed place             4.436271
Name: proportion, dtype: float64
presence of water at hand washing place
NaN                    77.524699
water is available     13.335686
water not available     9.139615
Name: proportion, dtype: float64
items present: soap or detergent
NaN    76.897028
no     13.360888
yes     9.742084
Name: proportion, dtype: float64
items present: ash, mud, sand
NaN    76.899511
no     22.579778
yes     0.520711
Name: proportion, dtype: float64
items present: none
NaN                                 77.524699
yes, no cleansing agent observed    12.877035
no                                   9.598266
Name: proportion, dtype: float64
location of toilet facility
NaN                 78.861689
in own yard/plot    14.872833
in own dwelling      3.584590
elsewhere            2.680888
Name: proportion, dtype: float64
water not available for at least a day last two weeks
NaN                                        88.949528
no, not interrupted for a full day          7.489680
yes, interrupted for a full day or more     3.560792
Name: proportion, dtype: float64
has dwelling been sprayed against mosquitoes in last 12 months
NaN    70.618275
no     26.268306
yes     3.113419
Name: proportion, dtype: float64
dwelling sprayed by: government worker/program
NaN    69.415065
no     28.045221
yes     2.539714
Name: proportion, dtype: float64
dwelling sprayed by: private company
NaN    69.415065
no     30.428975
yes     0.155960
Name: proportion, dtype: float64
dwelling sprayed by: ngo
NaN    70.106414
no     29.693968
yes     0.199618
Name: proportion, dtype: float64
dwelling sprayed by: other
NaN    69.415065
no     30.545540
yes     0.039395
Name: proportion, dtype: float64
household has separate room used as kitchen
NaN    83.230449
yes     8.945718
no      7.823834
Name: proportion, dtype: float64
type of cookstove
NaN                                                93.754489
three stone stove/open fire                         3.726033
liquefied petroleum gas (lpg)/cooking gas stove     1.158797
manufactured solid fuel stove                       0.678506
traditional solid fuel stove                        0.517689
no food cooked in household                         0.134913
electric stove                                      0.029573
Name: proportion, dtype: float64
owns rabbits
NaN     89.886797
0        9.218836
0.0      0.615906
2.0      0.081811
1.0      0.073177
3.0      0.036157
4.0      0.023259
5.0      0.018996
6.0      0.011495
7.0      0.007015
8.0      0.006314
10.0     0.005504
9.0      0.003832
12.0     0.001835
15.0     0.001727
11.0     0.001349
20.0     0.001187
14.0     0.000648
30.0     0.000540
95.0     0.000486
16.0     0.000432
18.0     0.000324
13.0     0.000324
25.0     0.000324
19.0     0.000270
22.0     0.000270
50.0     0.000216
60.0     0.000162
32.0     0.000108
23.0     0.000108
45.0     0.000108
28.0     0.000054
40.0     0.000054
26.0     0.000054
38.0     0.000054
24.0     0.000054
90.0     0.000054
33.0     0.000054
75.0     0.000054
17.0     0.000054
Name: proportion, dtype: float64
generator
NaN    94.213248
no      5.473267
yes     0.313484
Name: proportion, dtype: float64
person fetching water
NaN                                87.401210
adult woman                         8.288798
adult man                           1.768712
female child under 15 years old     1.214111
male child under 15 years old       0.499395
other                               0.301288
any household member                0.175873
female and male children 15+        0.163569
respondent                          0.126872
door to door water seller           0.060171
Name: proportion, dtype: float64
has generator
NaN    94.100029
no      4.949480
yes     0.950491
Name: proportion, dtype: float64
fan
NaN    92.792666
no      4.383492
yes     2.823842
Name: proportion, dtype: float64
has fan
NaN    94.366186
no      3.449030
yes     2.184785
Name: proportion, dtype: float64
number of eligible children for height & weight
NaN     70.611637
0.0     16.735931
1.0      7.296701
2.0      4.170491
3.0      0.868355
4.0      0.215591
5.0      0.063787
6.0      0.021532
7.0      0.009012
8.0      0.003508
9.0      0.001781
10.0     0.000917
12.0     0.000270
11.0     0.000270
13.0     0.000162
14.0     0.000054
Name: proportion, dtype: float64
result of salt test for iodine
NaN                61.860734
iodine present     29.317075
no iodine           5.480661
salt not tested     3.341531
Name: proportion, dtype: float64
water usually treated by: strain through a cloth
no     56.677422
NaN    41.382094
yes     1.940484
Name: proportion, dtype: float64
cluster altitude in meters
NaN       38.195930
0.0        0.472520
7.0        0.329512
8.0        0.285692
6.0        0.281159
            ...
4658.0     0.000054
3231.0     0.000054
2922.0     0.000054
4378.0     0.000054
4685.0     0.000054
Name: proportion, Length: 3478, dtype: float64
water usually treated by: let it stand and settle
no     57.800763
NaN    41.313720
yes     0.885516
Name: proportion, dtype: float64
number of eligible women in household
1.0     54.233550
0.0     23.571121
2.0     15.168078
3.0      4.653805
4.0      1.426842
5.0      0.491894
6.0      0.192008
NaN      0.087262
7.0      0.083107
8.0      0.041283
9.0      0.020399
10.0     0.012358
11.0     0.006962
12.0     0.004101
13.0     0.002428
14.0     0.001349
15.0     0.001187
17.0     0.000702
16.0     0.000540
18.0     0.000378
20.0     0.000270
23.0     0.000162
22.0     0.000054
29.0     0.000054
26.0     0.000054
31.0     0.000054
Name: proportion, dtype: float64
number of eligible men in hh
NaN     64.628991
0.0     23.872679
1.0      8.404446
2.0      2.081657
3.0      0.684712
4.0      0.213864
5.0      0.070802
6.0      0.025364
7.0      0.009552
8.0      0.004533
9.0      0.001511
10.0     0.000917
12.0     0.000378
11.0     0.000270
13.0     0.000162
14.0     0.000108
16.0     0.000054
Name: proportion, dtype: float64
number of children 5 and under (de jure)
0.0     43.383775
1.0     26.982968
2.0     18.968583
3.0      5.885832
NaN      2.238426
4.0      1.535852
5.0      0.566474
6.0      0.225197
7.0      0.098055
8.0      0.052077
9.0      0.026119
10.0     0.014139
11.0     0.007717
12.0     0.004965
13.0     0.003292
14.0     0.001997
15.0     0.001835
16.0     0.000917
17.0     0.000486
18.0     0.000378
19.0     0.000216
27.0     0.000162
20.0     0.000162
24.0     0.000162
23.0     0.000054
26.0     0.000054
22.0     0.000054
21.0     0.000054
Name: proportion, dtype: float64
number of households sharing toilet
NaN     78.031163
2.0      6.465311
3.0      4.316036
10.0     3.224804
4.0      2.495031
5.0      1.674759
1.0      1.195763
6.0      1.031061
7.0      0.613963
8.0      0.502687
9.0      0.324763
6.0      0.124660
Name: proportion, dtype: float64
has watch
no     39.974410
NaN    38.078663
yes    21.946927
Name: proportion, dtype: float64
dvd player
NaN    83.471619
no     13.888722
yes     2.639658
Name: proportion, dtype: float64
has boat with a motor
no     60.260070
NaN    39.447493
yes     0.292438
Name: proportion, dtype: float64
sewing machine
NaN    86.850008
no     12.109163
yes     1.040829
Name: proportion, dtype: float64
has animal-drawn cart
no     53.686126
NaN    41.996705
yes     4.317169
Name: proportion, dtype: float64
place of residence
NaN                    56.127246
countryside            27.371140
small city             10.429278
capital, large city     6.072336
Name: proportion, dtype: float64
has a computer
NaN    55.919911
no     41.787967
yes     2.292122
Name: proportion, dtype: float64
water usually treated by: other
no     60.514570
NaN    39.330388
yes     0.155042
Name: proportion, dtype: float64
water usually treated by: solar disinfection
no     57.936594
NaN    42.033077
yes     0.030328

In [15]:
desc = df.describe()
desc.to_csv(f"{work_dir}DHS_final_df{dataset_type}_data_V{min_version}_describe.csv")
desc

,version_nr,cluster number,household number,number of household members,year of interview,day of interview,number of eligible children for height and weight,total adults measured,number of eligible children for height & weight,cluster altitude in meters,number of eligible women in household,number of eligible men in hh,number of children 5 and under (de jure)
count,1.853043e+06,1853043.0,1853043.0,1.853043e+06,1.845874e+06,1.845874e+06,1.045141e+06,1.386851e+06,544579.000000,1.145256e+06,1.851426e+06,655440.000000,1.811564e+06
mean,5.581485e+00,247060.148615,472.773904,5.126913e+00,2.010440e+03,1.573921e+01,6.408886e-01,1.048679e+00,0.669607,7.779971e+02,1.094010e+00,0.455781,9.684488e-01
std,1.405690e+00,2089923.864133,2724.117107,3.380596e+00,7.258011e+00,8.650890e+00,9.824880e-01,1.294914e+00,0.930544,6.712678e+02,9.598039e-01,0.802380,1.138089e+00
min,2.000000e+00,1.0,0.0,1.000000e+00,1.993000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,-9.200000e+01,0.000000e+00,0.000000,0.000000e+00
25%,5.000000e+00,115.0,13.0,3.000000e+00,2.005000e+03,8.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.940000e+02,1.000000e+00,0.000000,0.000000e+00
50%,6.000000e+00,240.0,29.0,5.000000e+00,2.011000e+03,1.600000e+01,0.000000e+00,1.000000e+00,0.000000,5.900000e+02,1.000000e+00,0.000000,1.000000e+00
75%,7.000000e+00,448.0,101.0,7.000000e+00,2.016000e+03,2.300000e+01,1.000000e+00,2.000000e+00,1.000000,1.262000e+03,1.000000e+00,1.000000,2.000000e+00
max,8.000000e+00,61508057.0,77502.0,9.800000e+01,2.022000e+03,3.100000e+01,2.400000e+01,3.900000e+01,14.000000,6.699000e+03,3.100000e+01,16.000000,2.700000e+01

In [16]:
df['country code'] = df['country code and phase'].str[:2]
cols = ['country code','country code and phase', 'day of interview', 'month of interview', 'year of interview']
# df[df['year of household interview (gregorian calendar)'].notna()][cols].sample(100)

In [17]:
df[(df['country code'] == 'ET') | (df['country code'] == 'ER')][cols].sample(100)

,country code,country code and phase,day of interview,month of interview,year of interview
465009,ET,ET6,26.0,1.0,2011.0
424183,ET,ET4,21.0,2.0,2000.0
436902,ET,ET4,12.0,7.0,2005.0
427944,ET,ET4,3.0,5.0,2000.0
472161,ET,ET7,19.0,5.0,2016.0
...,...,...,...,...,...
457514,ET,ET6,4.0,2.0,2011.0
456062,ET,ET6,18.0,2.0,2011.0
436846,ET,ET4,23.0,5.0,2000.0
476711,ET,ET7,30.0,5.0,2016.0
454140,ET,ET6,28.0,1.0,2011.0

In [18]:
df[['has fan', 'fan']].value_counts(dropna=False, normalize=True) * 100

has fan  fan
NaN      NaN    87.158852
         no      4.383492
no       NaN     3.449030
NaN      yes     2.823842
yes      NaN     2.184785
Name: proportion, dtype: float64

In [19]:
df[['has generator', 'generator']].value_counts(dropna=False, normalize=True) * 100

has generator  generator
NaN            NaN          88.313277
               no            5.473267
no             NaN           4.949480
yes            NaN           0.950491
NaN            yes           0.313484
Name: proportion, dtype: float64

In [20]:
df['has fan'] = df['has fan'].fillna(df['fan'])
df['has generator'] = df['has generator'].fillna(df['generator'])
df.drop(columns=['fan', 'generator'], inplace=True)

In [21]:
df.to_csv(preprocessing_f[:-4] + '.csv', index=False)
df.to_pickle(preprocessing_f)

In [22]:
df['DHSID'].sample(50)

862152     MDHR6ASV00000125
1201741    NGHR6ASV00000813
1272012    NIHR31SV00000189
697263     KEHR8BSV00000083
1762825    ZMHR31SV00000132
602850     GNHR71SV00000208
611079     KEHR33SV00000027
929475     MLHR53SV00000308
403141     EGHR61SV02760102
1701612    UGHR6ASV00000389
684694     KEHR7ASV00000141
764660     LBHR71SV00000004
1593224    TZHR51SV00000249
1088258    MZHR51SV00000071
1643983    TZHR81SV00000211
840806     MDHR51SV00000282
229938     CIHR35SV00000150
1244111    NGHR7BSV00001059
230751     CIHR35SV00000180
1222076    NGHR7BSV00000294
234564     CIHR3ASV00000162
1445778    SNHR4ASV00000178
1273029    NIHR31SV00000237
1516921    TDHR41SV00000026
345271     EGHR4ASV00840107
65367      BFHR7ASV00000150
1237561    NGHR7BSV00000832
870208     MDHR71SV00000108
1744839    ZAHR31SV00000608
623048     KEHR3ASV00000295
191445     CDHR61SV00000376
487099     ETHR81SV00000111
1716428    UGHR7BSV00000269
1140735    NGHR53SV00000349
1098082    MZHR62SV00000228
1469162    SNHR61SV00000352
1423696    SLHR73SV00000314
375680     EGHR5ASV00000001
93062      BJHR51SV00000074
1245539    NGHR7BSV00001112
466772     ETHR61SV00000630
1318623    NMHR61SV00000356
1387445    RWHR81SV00000112
1761018    ZMHR31SV00000015
1679091    UGHR5ASV00000012
1354249    RWHR61SV00000188
1561132    TZHR3ASV00000012
1695158    UGHR6ASV00000122
812154     MAHR43SV00000292
1652299    TZHR81SV00000543
Name: DHSID, dtype: object

In [23]:
df[['source of drinking water', 'time to get to water source (minutes)', 'location of source for water']].value_counts(dropna=False, normalize=True).head(50) * 100

source of drinking water                              time to get to water source (minutes)  location of source for water
piped into dwelling                                   0.0                                    NaN                             6.567306
piped to yard/plot                                    0.0                                    NaN                             6.314910
piped into dwelling                                   NaN                                    NaN                             5.095349
tube well or borehole                                 10.0                                   elsewhere                       2.048684
public tap/standpipe                                  10.0                                   elsewhere                       1.889109
tube well or borehole                                 30.0                                   elsewhere                       1.645725
piped to neighbor                                     0.0                                    NaN                             1.475087
piped to yard/plot                                    NaN                                    NaN                             1.386206
public tap/standpipe                                  5.0                                    elsewhere                       1.343736
tube well or borehole                                 20.0                                   elsewhere                       1.307363
unprotected well                                      NaN                                    NaN                             1.269425
protected well                                        0.0                                    in own yard/plot                1.256312
tube well or borehole                                 15.0                                   elsewhere                       1.239691
                                                      5.0                                    elsewhere                       1.172288
river/dam/lake/ponds/stream/canal/irrigation channel  30.0                                   elsewhere                       1.098679
public tap/standpipe                                  30.0                                   elsewhere                       1.098086
unprotected well                                      10.0                                   elsewhere                       1.018649
                                                      0.0                                    in own yard/plot                1.013846
well in residence                                     NaN                                    NaN                             0.973750
tube well or borehole                                 60.0                                   elsewhere                       0.968893
public tap/standpipe                                  10.0                                   NaN                             0.944231
river/dam/lake/ponds/stream/canal/irrigation channel  NaN                                    NaN                             0.937485
public tap/standpipe                                  15.0                                   elsewhere                       0.934085
                                                      NaN                                    NaN                             0.875317
unprotected well                                      10.0                                   NaN                             0.873374
public tap/standpipe                                  20.0                                   elsewhere                       0.868301
unprotected well                                      30.0                                   elsewhere                       0.856321
river/dam/lake/ponds/stream/canal/irrigation channel  10.0                                   elsewhere                       0.854486
protected well                                        10.0                                   elsewhere                       0.820758
                                                      NaN                                    NaN                             0.808454
public tap/standpipe                                  5.0                                    NaN                             0.787623
unprotected well                                      30.0                                   NaN                             0.762422
river/dam/lake/ponds/stream/canal/irrigation channel  30.0                                   NaN                             0.755244
                                                      60.0                                   elsewhere                       0.730420
tube well or borehole                                 NaN                                    NaN                             0.721246
river/dam/lake/ponds/stream/canal/irrigation channel  20.0                                   elsewhere                       0.690270
tube well or borehole                                 0.0                                    in own yard/plot                0.675160
unprotected spring                                    30.0                                   elsewhere                       0.635064
protected spring                                      30.0                                   elsewhere                       0.626321
unprotected well                                      15.0                                   elsewhere                       0.622598
                                                      20.0                                   elsewhere                       0.602576
                                                      5.0                                    elsewhere                       0.593996
river/dam/lake/ponds/stream/canal/irrigation channel  10.0                                   NaN                             0.590056
                                                      15.0                                   elsewhere                       0.568254
protected well                                        5.0                                    elsewhere                       0.566150
public tap/standpipe                                  30.0                                   NaN                             0.555087
unprotected well                                      15.0                                   NaN                             0.554709
protected well                                        30.0                                   elsewhere                       0.550176
public tap/standpipe                                  60.0                                   elsewhere                       0.539383
unprotected well                                      5.0                                    NaN                             0.539059
Name: proportion, dtype: float64